:80

root * /dist
header / Content-Security-Policy "default-src 'self'; script-src 'report-sample' 'self' 'unsafe-eval'; style-src 'report-sample' 'self' 'unsafe-inline'; object-src 'none'; base-uri 'self'; connect-src 'self'; font-src 'self'; frame-src 'self'; img-src 'self'; manifest-src 'self'; media-src 'self'; report-uri {$REPORT_ADDRESS}; report-to {$REPORT_ADDRESS}; worker-src 'none';"
file_server